.fb-component {
	cursor: move;
	padding:10px;
	margin-top:5px;
	border:1px solid #ccc;
	border-radius:5px;
	text-align:center;
}

.fb-component:hover{
	background:#7276B1;
	color:#fff;
}

.fb-component input {
	cursor: move
}
.fb-component label {
	cursor: move
}
.fb-component select {
	cursor: move
}
.fb-component textarea {
	cursor: move
}
.fb-form-object-editable {
	padding: 10px
}
.fb-form-object-editable.fb-draggable {
	cursor: move
}
.fb-form-object-editable.fb-draggable input {
	cursor: move
}
.fb-form-object-editable.fb-draggable label {
	cursor: pointer
}
.fb-form-object-editable.fb-draggable select {
	cursor: move
}
.fb-form-object-editable.fb-draggable textarea {
	cursor: move
}
.fb-form-object-editable.empty {
	cursor: default;
	margin: 6px;
	height: 80px;
	border: dashed 1px #aaa;
	background-color: #eee
}
.fb-draggable.dragging {
	background-color: #ffffff;
	position: absolute;
	z-index: 800;
	-webkit-box-shadow: #666 0 0 20px;
	-moz-box-shadow: #666 0 0 20px;
	box-shadow: #666 0 0 20px
}
.fb-required:after {
	color: #b94a48;
	content: ' *'
}
.fb-builder {
	min-height: 150px
}
.popover .control-label {
	text-align: left
}
.popover form {
	width: 240px
}

.sidebar-nav-fixed{
	border:1px solid #ccc;
	border-radius:5px;
	padding:10px;
}