<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Form Builder</title>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="css/angular-form-builder.css"/>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-form-builder.js"></script>
    <script type="text/javascript" src="js/angular-form-builder-components.js"></script>
    <script type="text/javascript" src="js/angular-validator.min.js"></script>
    <script type="text/javascript" src="js/angular-validator-rules.min.js"></script>
    <script type="text/javascript" src="js/demo.js"></script>
    <script>var formData=[];</script>
</head>
<body class="container" ng-controller="DemoController">
    <div class="row">
    	<div class="col-md-10">
        	<h1 style="width:90%;float:left;">Editor</h1>
	        <span style="float: left;width: 10%;margin-top: 20px;"><a href="index.php">Home</a></span>
            <hr style="clear:both;"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Builder</h3>
                </div>
                <div fb-builder="default"></div>
                
            </div>
        </div>
        
		<div class="col-md-2">
        	<div class="sidebar-nav-fixed pull-right affix">
            	<h3 style="text-align:center">Tools</h3>
	            <div fb-components></div>
            </div>
        </div>
        
    </div>
	<div class="row">
    	<div class="col-md-10">
        <input type="text" name="formName" placeholder="Form Name" class="form-control" style="width:20%;display:inline;margin-right:5px;" ng-model="formName"/><button class="btn btn-primary" ng-click="saveForm()">Save &amp; Preview</button>
        </div>
    </div>
    

    <div class="row">
        <div class="col-md-12 footer">
        <hr/>
       
        </div>
    </div>

    </body>
</html>
